
import os ;
import modules ;

local home = [ os.environ HOME ] ;
local install = $(home)/puts/install ;
local build = $(home)/puts/build ;
local loop_build = $(build)/loop-3.0beta ;
local oil_build = $(build)/oil-source-0.6beta ;
local search-path = [ modules.peek : BOOST_BUILD_PATH ] ;
search-path += bbuild ;
modules.poke : BOOST_BUILD_PATH : $(search-path) ;

using lua 
  : $(install)/bin/lua5.1
;

using loop
  : $(loop_build)
;

using oil 
  : $(oil_build)
  : $(install)/idl/v2_0
;

project dl ;

lib dl 
  : 
  : <link>shared
;

project lua
  : requirements <include>$(install)/include/lua5.1.3
;

lib lua5.1 
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/liblua5.1.a
;

project e2fsprogs
  : requirements <include>$(install)/include/e2fsprogs-1.40.8/uuid
;

lib uuid 
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/libuuid.a
;

alias e2fsprogs : uuid ; 

project luuid
  : requirements <include>$(install)/include/luuid
;

lib luuid 
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/libluuid.a
;

project openssl
  : requirements <include>$(install)/include
;

lib crypto 
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/libcrypto.a
;

alias openssl : crypto ;

project lce
  : requirements <include>$(install)/include/lce
;

lib lce 
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/liblce.a
;

project luafilesystem
  : requirements <include>$(install)/include/luafilesystem
;

lib lfs 
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/liblfs.a
;

project luavararg
  : requirements <include>$(install)/include/luavararg
;

lib luavararg 
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/libluavararg.a
;

project luastruct
  : requirements <include>$(install)/include/luastruct
;

lib luastruct 
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/libluastruct.a
;

project luasocket
  : requirements <include>$(install)/include/luasocket2
;

lib luasocket2 
  :
  : <name>luasocket <search>$(install)/lib
    <link>static:<file>$(install)/lib/libluasocket.a
;

project loop
  : requirements <include>$(install)/include/loop
;

lib loop
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/libloop.a
;

lib luacoroutine 
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/libluacoroutine.a
;

lib luacothread
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/libluacothread.a
;

lib luainspector
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/libluainspector.a
;

lib luatuple 
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/libluatuple.a
;

project oil
  : requirements <include>$(install)/include/oil
;

lib luaidl 
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/libluaidl.a
;

lib oil
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/liboil.a
;

project luascs
  : requirements <include>$(install)/include/scs/lua
;

lib luascs 
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/libluascs.a
;

project luaopenbus
  : requirements <include>$(install)/include/openbus/lua
;

lib luaopenbus 
  : 
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/libluaopenbus.a
;

project sqlite
  : requirements <include>$(install)/include/sqlite3
;

lib sqlite3 
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/libsqlite3.a
;

project luasqlite
  : requirements <include>$(install)/include/lsqlite3
;

lib lsqlite3 
  :
  : <search>$(install)/lib
    <link>static:<file>$(install)/lib/liblsqlite3.a
;
